#Main {
  height: fit-content;
  padding: 40px;
  margin-bottom: 200px;
  font-family: var(--font-family);
 
}

.main__container {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0px 40px 0px 40px;
  justify-content: space-between;
}

.main__container-img {

 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 50px;
}

.main__container-img > img {
  width: 30vw;
  height: 55vh;
  object-fit: cover;
  object-position: 0 0%;
}

.main__container-img > h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 20px;
  width: 35vw;
  letter-spacing: 1px;
}

.main__container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.main__container-text > p {
  text-align: justify;
  font-weight: 100;
  max-width: 400px;
  min-width: 100px;
}

@media screen and (max-width: 800px) {
  .main__container-img > h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .main__container {
    margin: 0px 250px 0px 250px;
  }
}

.network {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.network__icons {
  display: flex;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 550px) {
  #Main {
    padding: 10px;
  }
  .main__container {
    margin: 0px 10px;
    display: block;
    margin: 0px 15px -100px 15px;
    text-align: center;
    align-content: center;
  }

  .main__container-text {
    align-items: center;
  }
  
  .main__container-text > h1 {
    font-size: 1rem;
    margin-right: 10px;
  }
  .main__container-text > p {
    font-size: 0.8rem;
    width: 350px;
    text-align: justify;
  }

  .main__container-img {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .main__container-img > img {
    width: 300px;
    height: 500px;

  }

  .main__container-img > h1 {
    width: 350px;
    margin-top: 5px;
    font-family: 'Helvetica Black';
  }

  .network {
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 0.5rem;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px 25px;
  }
}